experiment_logging/

# --- Python Virtual Environments ---
*venv*
.env
.env.*
*.env

logs/
log/
build/
install/
devel/
.catkin_tools/

__pycache__/
*.pyc
.eggs/
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
*.log

# --- Colcon / ROS 2 / Catkin build outputs ---
build/
install/
devel/
.colcon/
.colcon-load.yml

# timestamped build/log directories (from running colcon inside packages)
build_*/
log_*/
**/build_*/
**/log_*/
**/install/
**/devel/
libs/robot_motion/src/robot_motion/log/latest_build/
libs/robot_description/log/


# --- Catkin Tools ---
.catkin_tools/

# --- Temporary or local runtime files ---
tmp/
logs/
*.mcap
*.bag
*.db3

# --- IDE / Editor Configs ---
.vscode/
.idea/
*.swp
*.swo

# --- System Files ---
.DS_Store
Thumbs.db
tmp/
# MacOS system files
.DS_Store

robot_motion_interface/src/robot_motion_interface/isaacsim/usds/fork.usd
